.navbar {
  background: rgba(0,0,0,0.5);

  &__list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
  }

  &__item {
    font-family: Verdana; 
  }

  &__link {
    color: $grey--light;
    text-decoration: none;
  }
}
